body 
{
    background-color: rgba(164, 29, 27);
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
div#rideaux 
{
    border:inset #f8e808d3 10px;
    height:97%;
    width:100%;
    margin:2em auto;
    text-align:center;
    line-height:120px;
    font-size:30px;
    position:relative;
    overflow:hidden;
    background-image: url(../IMAGES/hall.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    color:rgba(255,255,255, 0.3);
}
    
div#rideaux:before ,  div#rideaux:after 
{
    content:'';
    position:absolute;
    z-index:2;
    top:-30px;
    bottom:-30px;
    width:60%;
    transition:all 2s ease;
    transform:rotate(0deg);
    box-shadow:0 0 5px black;
    background-color:#f8e808d3;
    background-image: linear-gradient(90deg,  transparent 10%, rgba(255,255,255,.25) 50% ,transparent 65% );background-repeat:repeat;
    box-shadow:inset 0 -60px  60px -30px  rgba(255,255,255, 0.5), inset 0 90px  60px -30px  rgba(0,0,0, 0.5);
    background-size: 80px;
}
    :before {left:-10%;}
    :after {right:-10%;}
    
    
div#rideaux:hover:before ,  div#rideaux:hover:after 
{
    width:0;
    background-size: 1px;
    transition:all 3s ease;
    transform:rotate(15deg);
}
    div#rideaux:hover:after 
{
    transition:all 3s ease;
    transform:rotate(-15deg);
}
    #rideaux p {width:50%;margin:auto;position:relative;z-index:3;}
    #rideaux style {display:block;position:absolute;z-index:1;;opacity:0.5;overflow:auto;
    width:100%;white-space:pre;text-align:left;
    height:100%;font-size:16px;line-height:15px;}
    #rideaux style:before {content:'Les Styles';display:block;text-align:center;font-size:20px;
}
nav ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li 
{
    --c: #f5e725e1;
    color: var(--c);
    font-size: 16px;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
}

nav ul li span 
{
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

nav ul li:hover 
{
    color: black;
}

nav ul li:hover span 
{
    transform: translateY(0) scale(7);
}

nav ul li span:nth-child(1) 
{
    --n: 1;
}
a
{ 
 text-decoration:none; 
 color: black;
} 
#btnEntrer
{
    margin-top: 200px;
    margin-left: 600px;
}

body 
{
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li 
{
    --c: goldenrod;
    color: var(--c);
    font-size: 16px;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
}

nav ul li span 
{
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

nav ul li:hover 
{
    color: black;
}

nav ul li:hover span 
{
    transform: translateY(0) scale(7);
}

nav ul li span:nth-child(1) 
{
    --n: 1;
}
a:link 
{ 
 text-decoration:none; 
 color: black;
} 
#btnEntrer
{
    padding-top: 300px;
    padding-left: 60px;
}



