.imgBiere
{
height: 200px;
margin: 15px;

    
}
ul
{
    list-style: none;

}
.images
{
    display: flex;
    overflow: hidden;
    height: 230px;
}
#aGauche
{
    position: relative;
}
#milieu
{
    position: relative;
}
#aDroite
{
    position: relative;
}
html, body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: #000000;
  font-style: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}
body 
{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../IMAGES/comptoire.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

#lancerLaRoulette 
{
  top: 0;
  left: 0;
  transition: all .15s linear 0s;
  position: relative;
  display: inline-block;
  padding: 15px 25px;
  background-color: rgb(222,184,135);
  border-radius: 10px;
  
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  font-family: arial;
  letter-spacing: 1px;
  
  box-shadow: -6px 6px 0 rgb(0, 0, 0);
  text-decoration: none;
}  
#lancerLaRoulette:hover 
{
    top: 3px;
    left: -3px;
    box-shadow: -3px 3px 0 rgb(0, 0, 0);
}    
    
#lancerLaRoulette:after 
{
      top: 1px;
      left: -2px;
      width: angle-o;
      height: angle-o;
}
    
#lancerLaRoulette:before 
{
      bottom: -2px;
      right: 1px;
      width: angle-o;
      height: angle-o;
} 
#lancerLaRoulette:after 
{
    transition: all .15s linear 0s;
    content: '';
    position: absolute;
    top: 2px;
    left: -4px;
    width: angle;
    height: angle;
    background-color: rgb(0, 0, 0);
    transform: rotate(45deg);
    z-index: -1;   
}
  
#lancerLaRoulette:before 
{
    transition: all .15s linear 0s;
    content: '';
    position: absolute;
    bottom: -4px;
    right: 2px;
    width: angle;
    height: angle;
    background-color: rgb(0, 0, 0);
    transform: rotate(45deg);
    z-index: -1;
}
a#lancerLaRoulette { position: relative; }

a:active#lancerLaRoulette 
{
  top: 6px;
  left: -6px;
  box-shadow: none;
}  
#lancerLaRoulette:before 
{
    bottom: 1px;
    right: 1px;
}
  
#lancerLaRoulette:after 
{
    top: 1px;
    left: 1px; 
}
#miseUtilisateur
{
    border-radius: 10px;
    background-color: khaki;
}
#cagnotteUtilisateur
{
    border-radius: 10px;
    background-color: khaki;
}
#deplacementbtn
{
    padding-top: 30px;
    padding-left: 200px;
}
#retour
{
  top: 0;
  left: 0;
  transition: all .15s linear 0s;
  position: relative;
  display: inline-block;
  padding: 15px 25px;
  background-color: rgb(97, 94, 89);
  border-radius: 10px;
  
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  font-family: arial;
  letter-spacing: 1px;
  
  box-shadow: -6px 6px 0 rgb(0, 0, 0);
  text-decoration: none;
}  
#retour:hover 
{
    top: 3px;
    left: -3px;
    box-shadow: -3px 3px 0 rgb(0, 0, 0);
}    
    
#retour:after 
{
      top: 1px;
      left: -2px;
      width: angle-o;
      height: angle-o;
}
    
#retour:before 
{
      bottom: -2px;
      right: 1px;
      width: angle-o;
      height: angle-o;
} 
#retour:after 
{
    transition: all .15s linear 0s;
    content: '';
    position: absolute;
    top: 2px;
    left: -4px;
    width: angle;
    height: angle;
    background-color: rgb(0, 0, 0);
    transform: rotate(45deg);
    z-index: -1;   
}
  
#retour:before 
{
    transition: all .15s linear 0s;
    content: '';
    position: absolute;
    bottom: -4px;
    right: 2px;
    width: angle;
    height: angle;
    background-color: rgb(0, 0, 0);
    transform: rotate(45deg);
    z-index: -1;
}
a#retour 
{ 
    position: relative; 
}

a:active#retour
{
  top: 6px;
  left: -6px;
  box-shadow: none;
}  
#retour:before 
{
    bottom: 1px;
    right: 1px;
}
  
#retour:after 
{
    top: 1px;
    left: 1px; 
}
#deplacementbtn2
{
    float: right;
}
#resultat
{
    margin-left: 600px;
    position: absolute;
    width: 300px;
    height: 200px;
    border-radius: 20px;
}

